{% extends 'base.html.twig' %}

{% block title %}Company{% endblock %}

{% block body %}


<form action="{{ path('login') }}" method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <h1 class="h3 mb-3 font-weight-normal">Пожалуйста, заполните форму:</h1>
    <label for="username" class="sr-only">Username:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Username" required autofocus />

    <label for="password" class="sr-only">Password:</label>
    <input type="password" id="password" name="_password" class="form-control" placeholder="Password" required />

    {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me"> Запомнить меня
        </label>
    </div>
    <button class="btn btn-lg btn-primary" type="submit">Воити в свой аккаунт</button>
</form>
{% endblock %}